

  <div class="navbar" style="background-color:#fde6e2 ;" >
    <img [src]="'/assets/imagenes/zirconita.jpg'"  width="100" height="100">
   
  
    <span class="navbar mb-4 h2">{{titulo}}</span>
  <div class="contenedor">
    <form class="d-flex input-group w-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Ingresar" aria-label="Search"
      />
      <button
        class="btn btn-outline-primary"
        type="button"
        data-mdb-ripple-color="dark"
      >
        Buscar
      </button>
      </form>
    </div>
  </div>
