<div class="grid-container">
    
    <div class="listado">

    <ul class="list-group list-group-flush">
    
    
      

     

      <a routerLink="productos" class="list-group-item"><img  src="https://www.flaticon.es/svg/vstatic/svg/2439/2439319.svg?token=exp=1615320556~hmac=1f02ec86eaa4f472fcd70ac5f590ea8f">Pulseras</a>
      <a routerLink="productos" class="list-group-item"><img  src="https://www.flaticon.es/svg/vstatic/svg/1152/1152312.svg?token=exp=1615320487~hmac=3dfad3579b141ed49f58101a2190f6f8">Anillos</a>
      <a routerLink="productos" class="list-group-item"><img  src="https://www.flaticon.es/svg/vstatic/svg/1788/1788844.svg?token=exp=1615320582~hmac=c7b61ba539c56f554e9ce92d33fc31b9">Cadenas</a>
      <a routerLink="productos" class="list-group-item"><img  src="https://www.flaticon.es/svg/vstatic/svg/3572/3572037.svg?token=exp=1615320607~hmac=5a5aab7078c00e8b6c4fc6983f8f15fa">Aros</a>
      <a routerLink="productos" class="list-group-item"><img  src="https://www.flaticon.es/svg/vstatic/svg/88/88832.svg?token=exp=1615320631~hmac=b5a4922c7daf59694340b0c83c0e0318">Conjuntos</a>

     
    
      
    
    </ul>
</div>
    <div class="main">
        
      <router-outlet></router-outlet>
    </div>
     
        
  </div>
    
