.listado {
    width: 20%;
    background-color: #fde6e2 ;
    
}

a:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
  }

  a:hover{
    opacity: 0.7;
  }
 .main{

    height:90vh;
    width: 80%;
    background: whitesmoke;
    float: right;
 }
  
  .grid-container {
    display: flex;
    grid-template-areas:
      'listado main '
    
  }
  a{text-decoration:none;
    color:#000;
  }
    
    img{
      width: 30px; height: 30px;
      
      padding-right: 3mm;
  
  
    }